{% extends "header.html" %}
{% block content %}
<div class="w3-container">
    <div class="w3-col m9">
    {% for question in top_questions %}
        <div class="w3-container w3-card w3-round-xxlarge w3-margin w3-text-white" onclick="location.href= '{% url 'forums' %}' " style="background-color: rgb(255, 255, 255, 0.3058); backdrop-filter: blur(8px);"><br>
            <span class="w3-right w3-opacity">{{question.modified}}</span>
            <h4>{{question.text | title}}</h4>
            <hr class="w3-black">
            <p class='w3-right w3-opacity'>{{question.user.username}}</p>

            <button type="button" class="w3-button w3-red w3-margin-bottom w3-round-xxlarge"><i class="fa fa-heart"></i>&nbsp;
                {{question.upvotes}}</button>
            <button type="button" class="w3-button w3-black w3-margin-bottom w3-round-xxlarge"><i class="fa fa-comment"></i>&nbsp;
                Answers</button>
        </div>
    {% endfor %}
    </div>
    <div class="w3-col m3">
    <h5 class="w3-opacity w3-center w3-round-xxlarge">Upcoming events:</h5>

    {% for event in top_events %}

    <div class="w3-card w3-round w3-center w3-round-xxlarge " style='background-color: rgb(40,40,40,0.5); backdrop-filter: blur(8px);' >
        <p class='w3-panel w3-blue w3-padding w3-round-xxlarge' style="backdrop-filter: blur(8px);"><strong>{{event.event_name | title}}</strong></p>
        <table class="w3-table ">
            <tr>
                <th>Time:</th>
                <td>{{event.timings}}</td>
            </tr>
            <tr>
                <th>Venue:</th>
                <td>{{event.venue}}</td>
            </tr>
        </table>
        <p><a href="{% url 'events'%}" class="w3-button w3-block w3-black w3-round-xxlarge" style="text-decoration:none; backdrop-filter: blur(8px);">Info</a></p>
    </div>
    
    {% endfor %}
</div>
{% endblock %}
